.user-pins-search {
    display: block;
    margin: 30px;
}

.boards-container {
    display: block;
    padding: 10px;
    margin: 40px;
}


.board {
    display: inline-block;
    border: 1px solid black;
    padding: 20px 30px 60px 30px;
}

.pin-container {
    display: inline-block;
    max-width: 200px;
    margin: 30px;
}

.pin-image {
    max-width: 200px;
}