body {
    background-color: #fbfbfb;
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: #CFA374
}

.pin-image {
    cursor: zoom-in;
}

.navbar {
    background-color: white;
}

.navbar-nav {
    float: right;
}

.navbar-form .form-control {
    width: 15vw;
    min-width: 200px;
}

.navbar-form .btn {
    width: 10vw;
    min-width: 100px;
    margin-right: 3vw;
}


.user-pins-search {
    display: block;
    /*margin: 30px;*/
}

.boards-container {
    margin: 0 5%;
}


.board {
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    max-width: 250px;
    padding: 25px;
    margin: 25px;
    text-align: center;
}

.board img {
    /*height: 100px;*/
    margin: 10px auto;
}

.board > a:first-child {
    color: black;
    font-size: 1.5em;
}

.board a:nth-child(-n+2) {
    display: block;
}

.pin-container {
    display: inline-block;
    max-width: 200px;
    margin: 50px;
}

.pin-image,
.btn {
    width: 200px;
}

.btn {
    background-color: rgba(7, 12, 16, 0.22);
    border-color: rgba(10, 4, 4, 0.11);
}

.pin-container .btn,
.board .btn {
    margin-top: 5px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
    background-color: rgba(7, 12, 16, 0.61);
}

.delete-board-from-db {
    margin-left: -2px;
}

.delete-image-from-board {
    display: inline-block;
}

#create-board-form {
    margin: 50px;
}

#create-image-form {
    margin: 20px;
}

#time-intervals,
#num-of-images {
    margin: 10px;
}

#study-modal .modal-dialog,
#zoom-modal .modal-dialog {
    width: 70vw;
    /*max-height: 500px;*/
    height: 90vh;
}

#study-modal-image,
#zoomed-image {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    max-width: 90%;
    height: 80vh;
    /*max-width: 90%;*/
}

.page-title {
    display: inline-block;
    margin: 10px 30px;
    font-size: 2em;
    font-weight: bold;
}

.study-board a {
    margin-left: 20px;
}

.all-images {
    margin: 0 5%;
}


.edit-board-form,
.edit-image-form,
#create-board-form,
#create-image-form {
    display: none;
}

#new-board-button {
    margin: 10px;
}

#create-board-form input,
#create-image-form input {
    width: 200px;
    display: inline-block;
}


/*#saveImageModal {
    width: 500px;
    height: 500px;
}*/