body {
    background-color: #fbfbfb;
}

.pin-image {
    cursor: zoom-in;
}

.navbar {
    background-color: white;
}

.navbar-nav {
    float: right;
}

.navbar-form .form-control {
    width: 30vw;
    min-width: 250px;
}


.user-pins-search {
    display: block;
    /*margin: 30px;*/
}

.boards-container {
    display: block;
    padding: 10px;
    margin: 40px;
}


.board {
    display: inline-block;
    border: 1px solid black;
    padding: 20px 30px 60px 30px;
    margin: 50px;
}

.board img {
    max-height: 200px;
}

.pin-container {
    display: inline-block;
    max-width: 200px;
    margin: 50px;
}

.pin-image {
    max-width: 200px;
}


.delete-image-from-board {
    display: inline-block;
}

#create-board-form {
    margin: 50px;
}

#create-image-form {
    margin: 20px;
}

#time-intervals,
#num-of-images {
    margin: 10px;
}

#study-modal .modal-dialog,
#zoom-modal .modal-dialog {
    width: 70vw;
    /*max-height: 500px;*/
    height: 90vh;
}

#study-modal-image,
#zoomed-image {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    max-width: 90%;
    height: 80vh;
    /*max-width: 90%;*/
}

.study-board {
    display: inline-block;
    margin: 10px 30px;
    font-size: 2em;
    font-weight: bold;
}

.study-board a {
    margin-left: 20px;
}

.all-images {
    margin: 0 5%;
}

.page-title {
    margin: 30px;
}
/*#saveImageModal {
    width: 500px;
    height: 500px;
}*/