body {
    background-color: rgba(253, 253, 253, .5);
    font-family: 'Comfortaa', sans-serif;
    margin-top: 3.5em;
}


/*Alerts*/
#alert-container,
#non-reload-alert-container {
    width: 50%;
    margin: auto;
    margin-top: 6em;
    text-align: center;
}


#non-reload-alert-container {
    display: none;
}

#alert-messages {
    position: fixed;
}


/*Boards*/
.board,
.image-container {
    display: inline-block;
    background-color: white;
    max-width: 350px;
    margin: 1.4em;
    text-align: center;
    word-wrap:break-word;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.board img {
    display: block;
    max-height: 350px;
    max-width: 350px;
    /*min-width: 100px;*/
    min-width: 80px;
}

.board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-header > a:first-child {
    color: black;
    font-size: 1.3em;
}

.full-page-container {
    padding: 3em;
    text-align: center;
}

.boards-container,
.all-images-container {
    margin: 0 auto;
    padding-top: 6em;
}

/*.board-options .btn {
    display: flex;
    width: 4.8em;
}*/

#create-board-form,
#create-image-form {
    margin-right: 15px;
}


/*Buttons*/
.btn {
    background-color: rgba(82, 82, 82, 0.5);
    border-color: rgba(82, 82, 82, 0.5);
    font-weight: bold;
}

/*.board-options:hover {
    background-color: #f5f5f5;
}*/

#new-board-button,
#search-boards-button {
    border: 2px solid #d0d0d0;
    border-radius: 90px;
    margin: 0 0 .9em .8em;
    padding: .4em;
    width: 34px;
}


.image-container .btn,
.board .btn {
    margin-top: 5px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
    background-color: rgba(78, 78, 78, 0.2);
    border-color: rgba(78, 78, 78, 0.2);
}


/*Modal*/
#study-modal-image,
#zoomed-image {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    height: 80vh;
}

#zoom-modal .modal-dialog {
    height: auto;
    width: 70vw;
}


/*Navbar*/
.navbar {
    background-color: rgba(208, 208, 208, 1);
    height: 3.5em;
}

.navbar li {
    margin-top: .8em;
    padding-bottom: .2em;
}

/*.navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
}*/

.navbar-default .navbar-brand {
    border-right: .1em solid white;
    color: black;
    margin-top: .4em;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 1.1em;
    padding-bottom: .2em;
}

/*.navbar-form .btn {
    width: 40px;
    text-align: center;
}*/

.navbar-nav {
    float: right;
}

.nav-list-items {
    border-left: 1px solid white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-nav>.nav-list-items>a {
    padding-bottom: 0;
}


/*Pins*/

/*.image-container {
    display: inline-block;
    max-width: 200px;
    margin: 50px;
    word-wrap:break-word;
}*/

.pin-image {
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    width: 230px;
}

.pin-image:hover {
    cursor: zoom-in;
}

#board-dropdown-button,
#image-dropdown-button {
    background-color: white;
    border: none;
    margin-top: .2em;
    text-align: center;
}

.board-options .dropdown-menu,
.image-container .dropdown-menu {
    min-width: 6em;
}

.board-options input[type='Submit'],
.image-container input[type='Submit']{
    margin: .5em;
    margin-bottom: 0;
    width: 5em;
}

/*#board-dropdown-button,
#image-dropdown-button {

}*/


/*Titles & Headers*/
.page-title:parent {
    float: right;
}

.page-title {
    /*border-bottom: 1px solid rgba(208, 208, 208, 1);*/
    /*float: right;*/
    /*margin: 0px 30px;*/
    padding: 5px;
}

.page-title-container {
    background-color: white;
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    display: inline-block;
    font-weight: bold;
    height: 6em;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.page-title h2 {
    display: inline-block;
    margin-right: .8em;
}

#study-title {
    height: 9em;
}

#study-title a {
    color: black;
}

/*Other*/
.create-form {
    margin: 10px;
    /*margin-right: 20px;*/
}

/*Heroku Not showing below, though localhost is*/
.pinterest-board {
    max-width: 150px;
    padding: 1.5em;
}

.pinterest-board a img {
    margin: 0 auto;
    min-width: 103px;
}



/*@media queries*/
@media screen and (max-width: 767px) {
    #navbar-options li {
        background-color: rgba(208, 208, 208, 1);
    }
}



/*@media screen and (min-width: 870px) {
    .navbar-form .form-control {
        min-width: 200px;
    }
}

@media screen and (min-width: 766px) {
    .navbar-form .form-control {
        width: 15vw;
        min-width: 155px;
    }
}*/