{% extends 'base.html' %}

{% block content %}


{{ boards_request }}

<div>
    <h3>User Name</h3>
</div>

<br>
<div class="user-pins-search">
    <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Your Pins">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<br><br>

<div class='boards-container'>
    <ul>
        {% for board in boards_request['data'] %}
            <div class='board'>
                <!-- need to be able to click board -->
                <h6>{{ board['name'] }}</h6>

                <!-- Need to pass specific board! -->
                <a href="/show_board/{{ board['url'] }}"><img src="{{ board['image']['60x60']['url'] }}"></a>
                {% if board['description'] %}
                    <li>{{ board['description'] }}</li>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
</div>



{% endblock %}