{% extends 'base.html' %}

{% block content %}

<div>
    <h1> Welcome to Beautiful Lines</h1>
    <h4>A visual library and study tool for artists</h4>
</div>
<div>
    <form actions="/login" method='POST'>
        <label for="field-email">Email:</label>
        <input type="text" name="email" id="field-email"><br><br>
        <label for="field-password">Password:</label>
        <input type="text" name="password" id="field-password"><br><br>
        <input type="submit" value="Log In">
    </form>
</div>

{% endblock %}
