<!-- Lists user's boards that are saved to blines db -->


{% extends 'base.html' %}

{% block content %}


<!-- {{ boards_request }} -->

<!-- <div>
    <h3>{{ username }}</h3>
</div>

<br>
<div class="user-pins-search">
    <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Your Pins">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<br><br>
 -->
<h4>My Saved Boards</h4>
<button id='new-board-button' class='btn btn-primary'>Create New Board</button>
<form action="/create_board" id="create-board-form">
    Board Name: <input type="text" name='board_name'>
    Board Description: <input type="text" name='board_description'>
    Image Url: <input type="text" name='image_url'>
    <input type="submit" value="Create" class='btn btn-primary'>
    <!-- What else? -->
</form>

<div class='boards-container'>
    <ul>
        {% if user_boards %}
            {% for board in user_boards %}
                <div class='board'>
                    <!-- need to be able to click board -->
                    <a href="/user_board_images/{{ board.board_id }}"><h5>{{ board.board_name }}</h5></a>

                    <!-- Need to pass specific board! -->
                    <a href="/user_board_images/{{ board.board_id }}"><img src="{{ board.image_url }}"></a>
                    {% if board['description'] %}
                        <h6>Description</h6>
                        <li>{{ board['description'] }}</li>
                    {% endif %}
                    <br><br>
                    <a class='btn btn-primary' href='/study_board/{{ board.board_id }}'>Study</a>
                    <br>
                    <button class='btn btn-primary edit-button'>Edit</button>
                    <br>
                    <a class='btn btn-primary' href='/delete_board/{{ board.board_id }}'>Delete</a>
                    <form class='edit-board-form'>
                        <br><br>
                        New Title: <input type='text' class='new-board-title'>
                        <br><br>
                        New Description: <textarea class='new-board-description' placeholder='{{ board.board_description }}'></textarea>
                        <br><br>
                        <input type='hidden' class='board-id' value='{{ board.board_id }}'>
                        <input type='submit' value='Submit' class='btn btn-primary'>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>You currently have no saved boards.</p>
        {% endif %}
    </ul>
</div>



{% endblock %}


