<!-- Displays Images(Pins) from user's chosen pinterest board -->


{% extends 'base.html' %}

{% block content %}


 <div class="modal fade" id="saveImageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Save Image</h4>
      </div>
      <div class="modal-body">
        <div id="save-image-to-board">
            <!-- A list of the boards in blines that image can be saved to -->
            {% if boards %}
              <form id="save-image-to-board">
                {% for board in boards %}
                        <h4>{{ board.board_name }}</h4>
                        <img src="{{ board.image_url }}">
                        <input type="radio" name="board-to-save-image" value="{{ board.board_id }}">
                {% endfor %}
                  <input type='hidden' id='hidden-pinid'>
                  <input type='hidden' id='hidden-imageid'>
                  <br><br>
                  <input type="submit" value="Submit">
              </form>
            {% else %}
              <p>You don't have any boards saved on Beautiful Lines</p>
            {% endif %}
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="zoom-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> -->
      <div class="modal-body">
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            <div class='color-result'></div>
            <img src='' id='zoomed-image'>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% if pins %}
   <h2 class='page-title'>{{ pins[0]['board']['name'] }}</h2>

   <div class="all-images">
      {% for pin in pins %}
          <div class='pin-container'>
              <img class="pin-image" src="{{ pin['image']['original']['url'] }}">
              <p>{{ pin['note'] }}</p>

              <button type="button" class="btn btn-primary btn-lg save-button" data-toggle="modal" data-target="#saveImageModal" data-pinid="{{ pin['id'] }}" data-imageid="No-ID">Save</button>
          </div>
      {% endfor %}
  </div>
{% endif %}

{% if images %}
  <p class="study-board">
    {% if current_board %}
      {{ current_board.board_name }}
      <a href="/study_board/{{ current_board.board_id }}" class="btn btn-primary btn-lg">Study</a>
    {% else %}
      Search Results
    {% endif %}
  </p>
  {% if current_board %}
    <form action="/create_image/{{ current_board.board_id }}" id="create-image-form">
      Image Url: <input type="text" name='image_url'>
      Image Description: <input type="text" name='image_description'>
      <input type="submit" value="Create">
      <!-- What else? -->
    </form>
  {% endif %}

  <!-- <div id="color-palette">
  </div> -->

  <div class="all-images">
      {% for image in images %}
          <div class='pin-container'>
              <img class="pin-image" src="{{ image.original_url }}">
              <p>{{ image.description }}</p>

              <button type="button" class="btn btn-primary btn-lg save-button" data-toggle="modal" data-target="#saveImageModal" data-pinid="{{ image.pinterest_image_id }}" data-imageid="{{ image.image_id }}">Save</button>
              {% if current_board %}
                <button class='btn btn-primary edit-button'>Edit</button>
                <form class="delete-image-from-board">
                  <input type='hidden' class='image_id' value='{{ image.image_id }}'>
  <!--                 <p>Image ID: {{ image.image_id }}<p> -->
                  <input type='hidden' class='board_id' value='{{ current_board.board_id }}'>
  <!--                 <p>Board ID: {{ current_board.board_id }}</p> -->
                  <input type='submit' value='Delete' class="btn btn-primary btn-lg">
                </form>
                <form class='edit-image-form'>
                      <br><br>
                      New Title: <input type='text' name='new-image-title'>
                      <br><br>
                      New Description: <textarea name='new-image-description'></textarea>
                      <br><br>
                      <input type='submit' value='Submit'>
                  </form>
                {% endif %}
          </div>
      {% endfor %}
  </div>
{% endif %}

{% endblock %}