<!-- Displays all of user's boards from their pinterest -->

{% extends 'base.html' %}

{% block page_title %}
    <h3 class='page-title'>{{ first_name }}'s Boards From Pinterest</h3>
{% endblock %}

{% block content %}

<div class="modal fade" id="pause-user-modal-save" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 id='board-saved-message'>Board Successfully Saved!</h4>
        <div id='board-saving-message'>
            <p><h4>Please wait while we save your board to Beautiful Lines, it may take a few seconds.</h4></p>
            <div class="cssload-wrap">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>Loading...</div>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="board-saved-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 id='board-saved-message'>Board Successfully Saved!</h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- {{ boards }} -->
<div class='boards-container'>
    <ul>
        {% for board in boards['data'] %}
            <div class='board'>
                <!-- need to be able to click board -->
                <h5>{{ board['name'] }}</h5>

                <!-- Need to pass specific board! -->
                <a href="/pinterest_board_images/{{ board['url'] }}"><img src="{{ board['image']['60x60']['url'] }}"></a>
                {% if board['description'] %}
                    <h6>Description</h6>
                    <li>{{ board['description'] }}</li>
                {% endif %}
                <br><br>
                <form class='save-pinterest-board'>
                    <input type='hidden' value="{{ board['url'] }}" class='board-url'>
                    <input type='submit' value='Save Board' class='btn btn-primary'>
                </form>
                <!-- <a href="/save_board/{{ board['url'] }}" class='save-pinterest-board'>Save Board</a> -->
            </div>
        {% endfor %}
    </ul>
</div>



{% endblock %}