<!-- Displays all of user's boards from their pinterest -->

{% extends 'base.html' %}

{% block content %}


<!-- {{ boards }} -->

<div>
<!--     <h2 class='page-title'>{{ username }}</h2>
</div>

<br>
<div class="user-pins-search">
    <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Your Pins">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<br><br> -->

<div class='boards-container'>
    <ul>
        {% for board in boards['data'] %}
            <div class='board'>
                <!-- need to be able to click board -->
                <h6>{{ board['name'] }}</h6>

                <!-- Need to pass specific board! -->
                <a href="/pinterest_board_images/{{ board['url'] }}"><img src="{{ board['image']['60x60']['url'] }}"></a>
                {% if board['description'] %}
                    <h6>Description</h6>
                    <li>{{ board['description'] }}</li>
                {% endif %}
                <br><br>
                <a href="/save_board/{{ board['url'] }}">Save Board</a>
            </div>
        {% endfor %}
    </ul>
</div>



{% endblock %}